<div class="contenedor">
    <form [formGroup]="contactForm"  class="formulario" (ngSubmit)="submit()" >
        <label>
            <p>Name:</p>
            <input type="text" formControlName="name">
        </label>

        <app-form-errors *ngIf="isSubmit" [controls]="contactForm.controls" [key]="'name'"></app-form-errors>

        <label>
            <p>Email:</p>
            <input type="text" formControlName="email">
        </label>

        <app-form-errors *ngIf="isSubmit" [controls]="contactForm.controls" [key]="'email'"></app-form-errors>
        
        <label>
            <p>Age:</p>
            <input type="text" formControlName="age">
        </label>

        <app-form-errors *ngIf="isSubmit" [controls]="contactForm.controls" [key]="'age'"></app-form-errors>
        
        <label>
            <p>Description:</p>
            <textarea formControlName="description"></textarea>
        </label>

        <app-form-errors *ngIf="isSubmit" [controls]="contactForm.controls" [key]="'description'"></app-form-errors>

        <button class="formulario__boton">Enviar</button>
    
        </form>
</div>
