.formulario{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 10%;
    &__boton{
        width: 14%;
    } 
}
.contenedor{
    background-color: #ffffff;
    border-radius: 3px;
    margin: 0 25px;
    padding: 1%;
}