<div class="formulario">
    <form [formGroup]="contactForm" >
        <label>
            Name:
            <input type="text" formControlName="name">
        </label>
        <label>
            email:
            <input type="text" formControlName="email">
        </label>
        <label>
            Age:
            <input type="text" formControlName="age">
        </label>
        <label>
            Description:
            <input type="text" formControlName="name">
        </label>
        
    
        </form>
</div>