<div>
    <form [formGroup]="contactForm"  class="formulario" (ngSubmit)="submit()" >
        <label>
            Name:
            <input type="text" formControlName="name">
        </label>

        <app-form-errors *ngIf="isSubmit" [controls]="contactForm.controls" [key]="'name'"></app-form-errors>

        <label>
            email:
            <input type="text" formControlName="email">
        </label>

        <app-form-errors *ngIf="isSubmit" [controls]="contactForm.controls" [key]="'email'"></app-form-errors>
        
        <label>
            Age:
            <input type="text" formControlName="age">
        </label>

        <app-form-errors *ngIf="isSubmit" [controls]="contactForm.controls" [key]="'age'"></app-form-errors>
        
        <label>
            Description:
            <textarea formControlName="description"></textarea>
        </label>

        <app-form-errors *ngIf="isSubmit" [controls]="contactForm.controls" [key]="'description'"></app-form-errors>

        <button class="formulario__boton">Enviar</button>
    
        </form>
</div>