.footer{
    background-color: #DDCECD;
    height: 150px;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    &__caja-texto{
        color: #1A181B;
    }
}